.project-container{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.project-container::before{
    content: '';
    /* background-image: url('https://images.unsplash.com/photo-1590650516494-0c8e4a4dd67e?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); */
    background-image: url('../assets/project.avif');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: absolute;
    margin-top: 0;
    margin-left: 0;
    z-index: -1;
}

.project-container h1{
    font-size: 2.4rem;
    margin-top: 150px;
}

.project-container p{
    font-size: 1.7rem;
    text-align: center;
}

.heading{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:640px) {
    .project-container h1{
        font-size: 2rem;
    }
    
    .project-container p{
        font-size: 1.4rem;
    }
}