.nav-container{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    position: fixed;
    padding: 1rem;
    width: 100%;
    height: 90px;
    z-index: 10;
}

.nav-container-bg{
    background-color: rgba(0, 0, 0, 0.85);
    transition: 0.5s;
}

.navbar{
    display: flex;
}

.navbar li{
    padding: 0 1rem;
}

.navbar li a{
    font-weight: bold;
    font-size: 1.2rem;
}

.logo{
    height: 80px;
    width: 80px;
    padding: 10px;
    border-radius: 50%;
}

.hamburger{
    display: none;
}

.fa-icon{
    font-size: 34px;
    color: #fff;
}

.active{
    color: aqua;
}


@media screen and (max-width: 1040px) {
    .navbar{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 150vh;
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        margin-top: 600px;
        margin-left: -105%;
        z-index: -3;
        transition: 0.3s;
    }

    .navbar.active{
        margin-left: -15px;  
    }

    .navbar li{
        padding: 1rem 0;
    }

    .navbar li a{
        font-size: 2rem;
    }

    .hamburger{
        display: initial;
    }   

    .logo{
        height: 60px;
        width: 60px;
    }
}



